<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="partnerconfig" value="PartnerConfig.xml" />
    <add key="portalWindow" value="PortalFramePlugin.dll"/>
    <add key="loginWindow" value="UserLoginPlugin.dll"/>
    <add key="userlogin" value="LoginService.userLoginNew"/>
    <add key="registerlink" value="LinkService.registAsync"/>
    <add key="pluginrun" value="PluginService.PluginRun"/>
    <add key="pluginstop" value="PluginService.PluginStop"/>
    <add key="getgalleryinfo" value="GalleryService.GetGalleryInfo"/>
    <add key="setgalleryinfo" value="GalleryService.SetGalleryInfo"/>
    <add key="pluginpath" value="\Plugin\"/>
    <add key="language" value="language/zh-cn.language" />
    <add key="skinurl" value="theme/SkinDefault/Resources.xaml" />
    <add key="runplugin" value="AreaManagerPlugin"/>
    <add key="userplugins" value="UserPlugins.xml"/>
    <add key="DataSource" value="Remote"/>
  </appSettings>
</configuration>