<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="partnerconfig" value="PartnerConfig.xml"/>
    <add key="updateconfig" value="AutoUpdate"/>
    <add key="portalWindow" value="MetroFramePlugin"/>
    <add key="loginWindow" value="FeidaoUserLoginPlugin"/>
    <add key="setuserinfo" value="LoginService.setUserInfo"/>
    <add key="pluginrun" value="PluginService.PluginRun"/>
    <add key="pluginstop" value="PluginService.PluginStop"/>
    <add key="setplugininfo" value="PluginService.SetPluginInfo"/>
    <add key="getgalleryinfo" value="GalleryService.GetGalleryInfo" />
    <add key="setgalleryinfo" value="GalleryService.SetGalleryInfo" />
    <add key="pluginpath" value="Plugin" />
    <add key="language" value="language/zh-cn.language" />
    <add key="clientsystem" value="12" />
    <add key="uploadfilehttp" value="http://192.168.40.60:8087/fsweb/" />
    <add key="downloadfilehttp" value="http://192.168.40.60:8087/fsweb/" />
    <add key="devpluginpath" value="TestPlugin"/>
    <add key="DataSource" value="Remote" />
    <!--value值为Local/Remote-->
    <add key="clientmsg" value="ClientMsgType"/>
    <!--富文本编辑器地址-->
    <add key="htmleditor" value="http://192.168.40.253:8087/wpfex/jscontrol/index.html"/>
    <add key="businesspath" value="form/ai-wpf/ai-wpf.html"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="" maxconnection="50"/>
    </connectionManagement>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="3000"/>
  </system.web>
</configuration>
