<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="partnerconfig" value="PartnerConfig.xml" />
    <add key="updateconfig" value="AutoUpdate" />
    <add key="portalWindow" value="MetroFramePlugin" />
    <add key="loginWindow" value="UserLoginPlugin" />
    <add key="setuserinfo" value="LoginService.setUserInfo" />
    <add key="pluginrun" value="PluginService.PluginRun" />
    <add key="pluginstop" value="PluginService.PluginStop" />
    <add key="setplugininfo" value="PluginService.SetPluginInfo"/>
    <add key="getgalleryinfo" value="GalleryService.GetGalleryInfo" />
    <add key="setgalleryinfo" value="GalleryService.SetGalleryInfo" />
    <add key="pluginpath" value="\Plugin\" />
    <add key="language" value="language/zh-cn.language" />
    <add key="skinurl" value="theme\Victop.Themes.MetroSkin.dll" />
    <add key="clientsystem" value="1015" />
    <add key="uploadfilehttp" value="http://192.168.40.60:8087/fsweb/" />
    <add key="downloadfilehttp" value="http://192.168.40.60:8087/fsweb/" />
    <add key="updatepwdhttp" value="http://192.168.40.60:8087/feidao/changePassword/html/debug-components/w_sys_changepassword_waitmaster_c_1001.html"/>
    <add key="DataSource" value="Remote" />
    <!--value值为Local/Remote-->
    <add key="DevelopMode" value="Debug" />
    <!--value值为Debug/Release-->
    <add key="clientmsg" value="ClientMsgType"/>
  </appSettings>
</configuration>